server:
    address: localhost:8080
    origin: "*"

tba:
    URL: https://www.thebluealliance.com/api/v3
    apiKey: tbaAPIKey

database:
    user: postgres
    password: password
    host: localhost
    port: 5432
    name: peregrine
    sslMode: disable
